[submodule "ci/page_style/doxygen_dark_theme"]
    path = ci/page_style/doxygen_dark_theme
    url = https://github.com/MaJerle/doxygen_dark_theme.git
[submodule "lib/littlefs"]
	path = lib/littlefs
	url = https://github.com/littlefs-project/littlefs