---
Checks:          >
  -clang-diagnostic-error,
  clang-analyzer-*,
  bugprone-*,
  cert-*,
  cppcoreguidelines-*,-cppcoreguidelines-pro-bounds-array-to-pointer-decay,-cppcoreguidelines-pro-bounds-pointer-arithmetic,-cppcoreguidelines-pro-type-reinterpret-cast,-cppcoreguidelines-pro-bounds-constant-array-index,-cppcoreguidelines-avoid-magic-numbers,-cppcoreguidelines-avoid-c-arrays,
  misc-*,-misc-non-private-member-variables-in-classes,
  fuchsia-multiple-inheritance,
  google-*,-google-readability-todo,
  fuchsia-statically-constructed-objects,
  hicpp-exception-baseclass,
  hicpp-signed-bitwise,
  llvm-*,-llvm-include-order,-llvm-header-guard,
  modernize-use-auto,
  modernize-use-equals-default,
  misc-*,
  -misc-non-private-member-variables-in-classes,
  performance-*,
  readability-*,-readability-magic-numbers,
  zircon-*
WarningsAsErrors: '*,-misc-unused-parameters,-llvm-header-guard,-cppcoreguidelines-pro-type-member-init,-google-runtime-references,-clang-diagnostic-tautological-constant-out-of-range-compare,-readability-redundant-declaration,-modernize-use-equals-default,-fuchsia-statically-constructed-objects,-hicpp-signed-bitwise,-cert-err58-cpp,-clang-diagnostic-error,-misc-noexcept-move-constructor'
HeaderFilterRegex: 'ecss-services\/((?!lib\/).)*$'
AnalyzeTemporaryDtors: false
...

